{% extends 'crack_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ egg.title }}
{% endblock %}
egg
{% block body_block %}
	{% if egg %}
		<h1>{{ egg.title }}</h1>
		
		{% if recipes %}
			<ul>
			{% for recipe in recipes %}
				<li><a href="{{ recipe.url }}">{{ recipe.title }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<strong>There are no recipes for this type of egg at the moment.</strong>
		{% endif %}
		<a href="{% url 'add_recipe' %}">Add a Recipe!</a>
	{% else %}
		The specified egg does not exist!
	{% endif %}
{% endblock %}


