{% extends 'crack_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <h1> Home </h1>
    {% if recipes %}
        {% for key, recipe_list in recipes.items %}
            <div>
            {% if recipe_list %}
                <h2>Our mosted viewed {{ key }} Recipes </h2>
                <ul>
                    {% for recipe in recipe_list %}
                        <li><a href="{% url 'recipe' recipe.slug %}">{{ recipe.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong> It seems there are no {{ recipe_list }} type recipes yet </strong>
            {% endif %}
            </div> 
        {% endfor %}
    {% endif %}
{% endblock %}
            

        
